@model MASERP.Models.DATAMODEL.WorkOrderMaterial

@{
    ViewBag.Title = "Create Work Order Material";
    ViewBag.page = "production";
}

<h3>Create Work Order Material</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.WorkOrderId, new { @class = "font-weight-bold" })
        @Html.DropDownList("WorkOrderId", (SelectList)ViewBag.WorkOrderId, "-- Select Work Order --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WorkOrderId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaterialName, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.MaterialName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaterialName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RequiredQuantity, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.RequiredQuantity, new { @class = "form-control", type = "number", min = "0" })
        @Html.ValidationMessageFor(model => model.RequiredQuantity, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Unit, new { @class = "font-weight-bold" })
        @Html.TextBoxFor(model => model.Unit, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Cancel</a>
}
