@model MASERP.Models.DATAMODEL.WorkOrderMaterial

@{
    ViewBag.Title = "Work Order Material Details";
    ViewBag.page = "production";
}

<h3>Work Order Material Details</h3>

<div class="card mt-3">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Work Order No</dt>
            <dd class="col-sm-9">@Model.WorkOrder?.WorkOrderNo</dd>

            <dt class="col-sm-3">Material Name</dt>
            <dd class="col-sm-9">@Model.MaterialName</dd>

            <dt class="col-sm-3">Required Quantity</dt>
            <dd class="col-sm-9">@Model.RequiredQuantity</dd>

            <dt class="col-sm-3">Unit</dt>
            <dd class="col-sm-9">@Model.Unit</dd>
        </dl>

        <div class="mt-4">
            <a href="@Url.Action("Edit", new { id = Model.WorkOrderMaterialId })" class="btn btn-warning">Edit</a>
            <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Back to List</a>
        </div>
    </div>
</div>
