@model MASERP.Models.DATAMODEL.ProductionPlan

@{
    ViewBag.Title = "Create Plan";
    ViewBag.page = "production";
}

<!-- Header Section -->
<div class="header bg-primary-grey pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Production Plans</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="@Url.Content("~/Home/Index")"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="@Url.Content("~/ProductionPlans/Create")">Production Plans</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Content("~/ProductionPlans/Index")" class="btn btn-md btn-default">List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form Section -->
<div class="container col-md-6 mt--6">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Add Production Plan</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ProductionPlanId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.PlanName)
                            @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PlanName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.StartDate)
                            @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.EndDate)
                            @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Remarks)
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", rows = 3 })
                            @Html.ValidationMessageFor(m => m.Remarks, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Save</button>
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ml-2" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
