@model IEnumerable<MASERP.Models.DATAMODEL.Product>

@{
    ViewBag.Title = "Customer Report";
    var i = 1; var j = 1; var k = 1;


    var fileName = System.IO.Path.Combine(Server.MapPath("~/Content/img/"), "LogoErp.png");

    ViewBag.banner = "data:image/gif;base64," + Convert.ToBase64String(File.ReadAllBytes(fileName));
    ViewBag.page = "product";

}

<link rel="stylesheet" type="text/css" href="~/Content/datatable/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatable/buttons.html5.min.js"></script>



<div class="header bg-primary-grey pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0"> Product Categories</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="@Url.Content("~/home/Index")"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="@Url.Content("~/Product/Index")">Product</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Content("~/Product/create")" class="btn btn-md btn-default">Add New Product</a>

                </div>
            </div>


        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-center">
                        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 active show" data-toggle="tab" href="#home">All Buyers </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" data-toggle="tab" href="#menu1">Customerwise Sales</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" data-toggle="tab" href="#menu2">Customer Sales Stats</a>
                            </li>

                        </ul>


                    </div>
                </div>

                <div class="card-body">

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane   active" id="home">

                            <br />

                            <table class="display" id="table" style="color:black !important">
                                <thead>
                                    <tr>

                                        <th>Sl</th>
                                        <th width="100">
                                            @Html.DisplayNameFor(model => model.ProductName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Unit)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>


                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.ProductId">
                                            <td>@i</td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.Unit)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>

                                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">

                                                    <label class="btn btn-sm btn-default btn-simple active" onclick="edit(@item.ProductId)">


                                                        <input type="radio" name="options" checked="">
                                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> <i class="fa fa-edit"></i></span>
                                                        <span class="d-block d-sm-none">
                                                            <i class="fa fa-edit"></i>
                                                        </span>

                                                    </label>

                                                    <label class="btn btn-sm btn-default btn-simple" id="1" onclick="details(@item.ProductId)">
                                                        <input type="radio" class="d-none d-sm-none" name="options">
                                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> <i class="fa fa-info-circle"></i></span>
                                                        <span class="d-block d-sm-none">
                                                            <i class="fa fa-info-circle"></i>
                                                        </span>
                                                    </label>
                                                    <button class="btn btn-sm btn-default btn-simple" id="2" onclick="deletes(@item.ProductId)">

                                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> <i class="fa fa-times-circle"></i></span>
                                                        <span class="d-block d-sm-none">
                                                            <i class="fa fa-times-circle"></i>
                                                        </span>
                                                    </button>
                                                </div>


                                            </td>
                                        </tr>

                                        i++;
                                    }
                                </tbody>
                            </table>





                        </div>
                        <div class="tab-pane  fade" id="menu1">

                            <br />

                            <table class="display " style="font-weight: bold;width: 100%;color: black">
                                <thead class="text-primary">
                                    <tr>
                                        <th>SL</th>
                                        <th>Date</th>
                                        <th>Products</th>
                                        <th>
                                            Invoice
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewData["AllSales"] as List<MASERP.Models.DATAMODEL.Product>)
                                    {
                                        <tr>
                                            <td>@j</td>

                                            <td>
                                                @item.ProductName
                                            </td>

                                            <td>
                                                @item.Unit
                                            </td>
                                            <td>
                                                @item.Price
                                            </td>

                                        </tr>
                                        j++;
                                    }
                                </tbody>

                            </table>

                        </div>



                        <div class="tab-pane  fade" id="menu2">

                            <br />

                            <table class="display" style="font-weight:bold;width:100%;color:black">

                                <thead class="text-primary">

                                    <tr>
                                        <th>SL</th>
                                        <th>
                                            Code
                                        </th>
                                        <th>
                                            Sale Count
                                        </th>
                                        <th>
                                            Total
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewData["CustomerSalesStat"] as List<MASERP.Models.DATAMODEL.Product>)
                                    {
                                        <tr>
                                            <td>@k</td>

                                            <td>
                                                @item.ProductName
                                            </td>

                                            <td>
                                                @item.Unit
                                            </td>
                                            <td>
                                                @item.Price
                                            </td>

                                        </tr>
                                        k++;
                                    }
                                </tbody>

                            </table>

                        </div>



                    </div>


                </div>
            </div>



        </div>
    </div>


</div>






<script>

    var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;


    if (width < 900) {
        $("table").addClass("table-responsive");
    }

    function edit(id) {
        window.location.href = "/Product/Edit/" + id;

    }

    function details(id) {
        window.location.href = "/Product/details/" + id;

    }

    function deletes(id) {
        // window.location.href = "/Categories/delete/" + id;
        var con = confirm('Are you sure you want to delete ?');
        if (con) {
            // Save it!
            var url = "/Product/DeleteCustomer?catId=" + id;
            $.get(url, function (data) {
                console.log(data);
                var Status = data["status"];
                var Code = parseInt(data["code"]);
                $("#row_" + id).remove();
                return true;
            });

        } else {
            // Do nothing!
            return false;
        }

        return false;

    }

</script>









<script>
    $(document).ready(function () {
         $('table').DataTable({
            "aLengthMenu": [[25, 50, 100, 200, 300, 500, 1000], ['25 Rows', '50 Rows', '100 Rows', '200 Rows', '300 Rows', '500 Rows', '1000 Rows']],
            "pageLength": 25,

            //"fnRowCallback": function (nRow, aData, iDisplayIndex) {
            //    $("td:nth-child(1)", nRow).html(iDisplayIndex + 1);
            //    return nRow;
            //},
            "language": {

                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "SEARCH",
                "paginate": {
                    "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
                }
            },
              dom: 'lBfrtip',
             buttons: [

                 {
                    extend: 'pdf',
                    text: '<i class="fa fa-file-pdf" aria-hidden="true"></i> PDF',
                    title: "@ViewBag.Title",
                    footer: true,
                    customize: function (doc) {
                        doc.content.splice(0, 0, {
                            margin: [0, 0, 0, 0],

                            alignment: 'left',
                            image: '@ViewBag.banner'
                        });

                     },
                     exportOptions: {
                         columns: [0, 1, 2, 3, 4]
                     }
                }
                 ,
                 {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel" aria-hidden="true"></i> Excel',
                    title: "@ViewBag.Title",
                     footer: true,
                     exportOptions: {
                         columns: [0, 1, 2, 3, 4]
                     }
                },
                 {
                    extend: 'csv',
                    text: '<i class="fa fa-file-word" aria-hidden="true"></i> CSV',
                     title: "@ViewBag.Title",
                     footer: true,

                 exportOptions: {
                     columns: [0, 1, 2, 3, 4]
                 }

                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: "@ViewBag.Title",
                    autoPrint: true,
                    footer: true ,
                    customize: function (win)
                    {
                        var url = location.protocol + '//' + location.host + "/Content/img/Inventory.png";
                        $(win.document.body).find('table>thead>tr>th').css("color", "black");
                        $(win.document.body).find('table>tbody>tr>td').css("color", "black");

                        $(win.document.body)
                            .css('font-size', '10pt').css('background-color', 'white')
                        .prepend( '<img src="'+url+'" style="position:relative; top:0; left:0;width:600px" />'  );
                        $(win.document.body).find('h1').css('font-size', '20px').css('font-weight', 'bold').css('text-transform', 'uppercase').css('color', 'black').css('margin-top', '15px');
                    },
                    //exportOptions: {
                    //    columns: [0, 1, 2, 3,4]
                    //}
                }

            ]
         });


    });


</script>
<style>
    [type="search"] {
        /* border: 1px solid black; */
        border-radius: 15px;
        height: 30px;
        padding-left: 15px;
        border-radius: 15px;
    }
</style>
