<!--  Google Maps Plugin    -->
@using Logistic_Inventory.ViewModels;

@{
    var i = 1;
}

<script src="~/Scripts/js/charts4.js"></script>
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Last 12 Months Overview</h5>
                        <h3 class="card-title">Total Collection</h3>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-default btn-simple active" id="0">
                                <input type="radio" name="options" checked>
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchase</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-single-02"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-default btn-simple" id="1" disabled>
                                <input type="radio" class="d-none d-sm-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-gift-2"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-default btn-simple" id="2" disabled>
                                <input type="radio" class="d-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Stock</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-lg-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Total Sale</h5>
                <h3 class="card-title"><i class="tim-icons icon-money-coins"></i> @ViewBag.totalSales.ToString("N2")৳  </h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                </div>
            </div>
        </div>
    </div>


    @*<div class="col-lg-6">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Top Branch Wise Purchases</h4>
                    <h3 class="card-title"><i class="tim-icons icon-money-coins"></i> Total Purchase : <b> @ViewBag.total.ToString("N2")৳</b>  </h3>
                </div>
                <div class="card-body">
                    <div class="table table-responsive -responsive">
                        <table class="table table-responsive  tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>SL</th>
                                    <th>
                                        Branch
                                    </th>
                                    <th>
                                        Branch Code
                                    </th>

                                    <th class="text-center">
                                        Total Purchase
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ViewData["data"] as List<BranchWisePurchase>)
                                {


                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            @item.BranchName
                                        </td>
                                        <td>
                                            @item.BranchCode
                                        </td>

                                        <td class="text-center">
                                            @item.Amount.ToString("N2")৳
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    *@
</div>
<div class="col-lg-4" style="display:none">
    <div class="card card-chart">
        <div class="card-header">
            <h5 class="card-category">Daily Sales</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="CountryChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4" style="display:none">
    <div class="card card-chart">
        <div class="card-header">
            <h5 class="card-category">Completed Tasks</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="chartLineGreen"></canvas>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

 