@model MASERP.Models.DATAMODEL.Voucher

@{
    ViewBag.Title = "Delete Voucher";
    ViewBag.page = "sales";
}

<h2 class="mb-4 text-danger font-weight-bold border-bottom pb-2">
    🗑️ @ViewBag.Title
</h2>

<h4 class="text-danger">Are you sure you want to delete this voucher?</h4>

<div class="card shadow-sm">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold text-right">Voucher No:</dt>
            <dd class="col-sm-9">@Model.VoucherNo</dd>

            <dt class="col-sm-3 font-weight-bold text-right">Voucher Type:</dt>
            <dd class="col-sm-9">@Model.VoucherType</dd>

            <dt class="col-sm-3 font-weight-bold text-right">Voucher Date:</dt>
            <dd class="col-sm-9">@Model.VoucherDate.ToString("yyyy-MM-dd")</dd>

            <dt class="col-sm-3 font-weight-bold text-right">Remarks:</dt>
            <dd class="col-sm-9">@Model.Remarks</dd>
        </dl>
    </div>
    <div class="card-footer text-left">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Confirm Delete
            </button>
            <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">
                <i class="fas fa-arrow-left"></i> Cancel
            </a>
        }
    </div>
</div>
